.Home {
    text-align: center;
    /* margin: auto; */
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    margin-top: 300px;
  }
  
  input {
    margin-bottom: 20px;
  }